.grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto;
    justify-content: space-around;
    justify-items: center;
    align-content: space-around;
    grid-gap: 10%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
   

}

.grid-block {
    background: #ff9980;
    height: 200px;
    width: 200px;
    margin: auto;
}


#new-game {
    height: 25px;
    width: 100px;

}
