body {
    background: #fef9ef;
    font-family: 'Bitter', serif;
}


h1 {
    display: inline;
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: 1fr .5fr 1.2fr .75fr;
    grid-template-rows: .9fr .75fr .5fr 1fr .75fr;    
    box-sizing:border-box;
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    align-content:space-evenly;

    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    max-width: 500px;
    max-height: 600px;
    min-height: 200px;
    min-width: 200px;
    
}

.grid-block {
    visibility: visible;
}

button {
    display: block;
    background: #fef9ef ;
    color: black;
    font-family: 'Bitter', serif;
    font-size: 110%;
    border: groove;
    border-color: black;
    border-radius: 3px;
    height: 60px;
    width: 80px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.text {
    color:black;
    font-size: 110%;
}

#instructions {
    position: absolute;
    left: 35%;
    top: 35%;
    padding-top: 30px;
    font-size: 130%;
}

.gb0 {
    background: #227c9d;
    grid-column-start:3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

.gb1 {
    background: #17c3b2;
    grid-column-start:3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}


.gb2 {
    background: #ffcb77;
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}


.gb3 {
    background: #fe6d73;
    
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
}

.gb4 {
    background: #17c3b2;
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.gb5 {
    background: #227c9d;
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.gb6 {
    background: #17c3b2;
    grid-column-start:2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}

.gb7 {
    background: #fe6d73;
    grid-column-start:2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gb8 {
    background: #fe6d73;
    grid-column-start:1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
}

.gb9 {
    background: #227c9d;
    grid-column-start:1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    
}

.gb10 {
    background: #ffcb77;
    
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

.gb11 {
    background: #ffcb77;
    
    grid-column-start:4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
}

@media (max-width: 760px) {

    h1 {
        font-size: 90%;
    }

    .text {
        font-size: 70%;
    }

    button {
        height: 40px;
        width: 60px;
        font-size: 10px;
        display: block;
    }

    #instructions {
        left: 30%;
        padding-top: 30px;
        font-size: 70%;
    }
}


