body {
    background: beige;
}

.grid {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: auto;
    justify-content: space-around;
    justify-items: center;
    align-content: space-around;
    grid-gap: 10%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
   

}

.grid-block {
    background: #92d6c3;
    height: 200px;
    width: 200px;
    margin: auto;
    border: outset;
}


#initiate {
display: none;
}

button {
    background: #d1a7d1 ;
    color: black;
    border: outset;
}
